#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with quilt

# build documentation as I didn't find a proper way to avoid make clean to not
# remove doc/
override_dh_auto_configure:
	dh_auto_configure -- --enable-documentation=no --disable-tests

override_dh_install:
	rm debian/tmp/usr/lib/*la
	dh_install --fail-missing

override_dh_auto_test:

override_dh_makeshlibs:
	dh_makeshlibs -V 'libnux-1.0-0 (>= 1.8.0-0)'
