#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with quilt

# build documentation as I didn't find a proper way to avoid make clean to not
# remove doc/
override_dh_auto_configure:
	dh_auto_configure -- --enable-documentation=no --disable-tests
	NUX_ABIVERSION := $(shell sed -rn 's/^\#define[[:space:]]+NUX_ABIVERSION[[:space:]]+//p' Nux/ABI.h )

override_dh_install:
	rm debian/tmp/usr/lib/*la
	rm -rf debian/tmp/usr/share/nux/gputests/
	dh_install --fail-missing

override_dh_auto_test:

override_dh_gencontrol:
	dh_gencontrol -- -Vnuxabiversion=$(NUX_ABIVERSION)
